svg {
  background-color: black;
}

.label {
  font-family: monospace;
  opacity: 1;
  font-size: 10px;
  fill: #fff;
}

.info {
  font-family: monospace;
  opacity: 1;
  font-size: 8px;
  fill: #fff;
}

.planet circle, .graticule {
  fill: none;
  stroke: #123;
  stroke-opacity: 0.15;
}

.planet circle {
  stroke-width: 1px;
}

.axis-line {
  stroke: #fff;
  stroke-opacity: 0.3;   
}

.star {
  fill: white;
  opacity: 1;
}
